body {
    background-color: white;
    margin: 0;
    font-family: Arial, sans-serif;
}

header, footer {
    background-color: #003DA5;
    color: white;
    padding: 20px;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a.btn {
    background-color: #0056b3;
    padding: 10px 15px;
    border-radius: 5px;
}

main {
    padding: 20px;
}

footer {
    text-align: center;
}
